{{ define "container" }}
{{ $paginator := .Paginate .Site.RegularPages }}
{{ range $paginator.Pages }}
   {{ .Render "summary" }}
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<ul class="pager">
  <li class="previous">
    <a {{ if $paginator.HasPrev }}
       href="{{ .Paginator.Prev.URL }}"
       {{ else }}
       style="visibility: hidden"
       {{ end }}
    >&larr; Newer Posts</a>
  </li>

  <li>
    <span style="border: none;">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
  </li>

  <li class="next">
    <a {{ if $paginator.HasNext }}
       href="{{ .Paginator.Next.URL }}"
       {{ else }}
       style="visibility: hidden"
       {{ end }}
    >Older Posts &rarr;</a>
  </li>
</ul>
{{ end }}
{{ end }}
